@import '../../../constant/init.scss';
@import '../../../constant/theme.scss';

.App.dark {
  // define a css variable for each shade
  @each $name, $color in $shades-dark {
    --#{$name}: #{$color};
  }

  // define a css variable for each color
  @each $name, $color in $colors-dark {
    --#{$name}: #{$color};
  }

  // define a css variable for each theme color
  @each $name, $color in $theme-dark {
    --#{$name}: #{$color};
  }

  $primary: map-get($colors-dark, 'aqua');
  --primary: #{$primary};
  --primary-dark: #{darken($primary, 10%)};
  --primary-darker: #{darken($primary, 20%)};
}

.App.light {
  // define a css variable for each shade
  @each $name, $color in $shades-light {
    --#{$name}: #{$color};
  }

  // define a css variable for each color
  @each $name, $color in $colors-light {
    --#{$name}: #{$color};
  }

  // define a css variable for each theme color
  @each $name, $color in $theme-light {
    --#{$name}: #{$color};
  }

  $primary: map-get($colors-light, 'ruby');
  --primary: #{$primary};
  --primary-dark: #{darken($primary, 10%)};
  --primary-darker: #{darken($primary, 20%)};
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);

  header {
    margin-bottom: 3rem;

    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem;
      border-bottom: 1px solid var(--border-color);
      max-width: 1280px;
      margin: auto;

      .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }

      input[type='text'] {
        outline: none;
        padding: 1rem 2rem;
        border-radius: 0.25rem 0 0 0.25rem;
        border: 1px solid var(--border-color);
        background-color: var(--border-color);
        font-size: 1rem;
        transition: all 0.2s ease-in-out;
        color: var(--text-color);
        height: 54px;
      }

      input[type='text']:focus {
        border: 1px solid var(--border-dark-color);
        background-color: var(--shade-3);
      }

      button {
        padding: 1rem;
        border: 1px solid var(--shade-4);
        outline: none;
        background-color: var(--shade-4);
        border-radius: 0 0.25rem 0.25rem 0;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        height: 54px;
        margin-right: 2rem;

        &:hover {
          background-color: var(--shade-5);
          border-color: var(--shade-5);
        }
      }
      .theme-switch {
        display: flex;
        align-items: center;
        height: 54px;

        .theme-icon {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  .result {
    max-width: 1280px;
    width: 100%;
    flex: 1;
    margin: auto;
    margin-bottom: 3rem;
  }

  .footer {
    .inner {
      max-width: 1280px;
      margin: auto;
      border-top: 1px solid var(--border-color);
      padding: 3rem;
      text-align: center;
      color: var(--text-color);
    }
  }
}
