.switch {
    display: inline-block;
    width: 48px;
    height: 24px;
    background-color: var(--border-color);
    border-radius: 30px;
    cursor: pointer;
    position: relative;

    span {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: var(--border-dark-color);
        position: absolute;
        left: 2px;
        top: 2px;
        transition: all 0.2s ease;
    }

    &.checked span {
        transform: translateX(24px);
    }
}